.about {
	background-color: #510fad;

	width: 1024px;

	margin: 0 auto 205px ;
	padding: 100px 0 110px;
	
	position: relative;
}

.about:before {
	content: '';
	display: block;
	
	background-image: url(../../img/about_bg_before.png);
	
	width: 1024px;
	height: 79px;
	
	position: absolute;
	top: -77px;
	left: 0;
}

.about:after {
		content: '';
	display: block;
	
	background-image: url(../../img/about_bg_after.png);
	
	width: 1024px;
	height: 77px;
	
	position: absolute;
	bottom: -75px;
	left: 0;
}

.about__title {

	width: 368px;

  
	margin: 0 auto 80px;
padding-left: 65px;
}

.content__title_white {
	color: #fff;
}

.about__title-text {
	color: #b8adc8;


	margin: 0 auto;

}

.about__image {
	width: 50%;
	float: left;
}

.about__image-img {
	border-radius: 10px;

	box-shadow: 0px 20px 45px 5px rgba(0, 0, 0, 0.5);

}



.about__content {
	float: left;
	width: 50%;
}

.about__list {
	margin-bottom: 25px;
padding: 20px 25px;
}

.about__item {
	color: #fff;

	margin-bottom: 10px;


}

.about__video-link {
	font-family: 'fira_sans', arial, sans-serif;
	color: #ffec00;
	text-decoration: none;
	letter-spacing: 0.7px;

	padding-left: 13px;

	position: relative;
}

.about__video-link:after {
	content: '';
	display: block;

	background-image: url(../../img/arrow_next_yellow.svg);

	width: 20px;
	height: 14px;

	position: absolute;
	right: -40px;
	top: 5px;

}

.arrow__svg {
	fill: #fff;
}
