.contacts{margin-bottom: 100px;}

.contacts__title{
	margin-bottom: 15px;
}

.content__title_contacts{
	text-transform: capitalize;
}

.contacts__column-left {
	float: left;
	width: 50%;
}

.contacts__list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.contacts__item{
	margin-bottom: 20px;
}

.contacts__blocktitle{
	font-family: 'fira_sans', arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #737274;
}


.contacts__column-right {
	float: left;
	width: 50%;
}
